<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moxiaosan.both" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 百度地图权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeL" >
        <activity android:name=".common.ui.activity.LoadingGuideActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.ui.activity.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.ConsumerMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.CityPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.personalcenter.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.ModifyNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.ModifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.GateToGateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.ShunFengCheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.SellThingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".consumer.ui.activity.FindLabourActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".consumer.ui.activity.MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.leftmenu.MyAppraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.MyWalletActivity"
            android:label="@string/title_activity_my_wallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.UseHelpActivity"
            android:label="@string/title_activity_user_help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.MessagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.leftmenu.ChangeToHostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.leftmenu.UserSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.WithdrawMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.PublishLabourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.PublishThingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.ToAppraiseActivity"
            android:screenOrientation="portrait" />
        //商户端
        <activity
            android:name=".carowner.ui.activity.BusinessMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.ReceiveOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.HitchhikingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.ReceiveOrderOkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.GPSSafeCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.ui.activity.AddGPSPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.BecomeCarOwnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.CarOwnerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="picture.PictureGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".carowner.ui.activity.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.CarTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.CarPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.NowLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.SelectLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.SDRelayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.BusinessInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.GuiJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carowner.ui.activity.WarningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".carowner.ui.activity.AlarmLocationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".carowner.ui.activity.FindLocationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.ui.activity.WeChatMoneyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.ui.activity.CardMoneyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.ui.activity.WithdrawHistoryActivity"
            android:screenOrientation="portrait" />



        //扫描二维码
        <activity
            android:name=".zxing.MipcaActivityCapture"
            android:screenOrientation="portrait" />
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uPOuWIxAfo37dSjxgDZcKkTS" />
        <meta-data
            android:name="Xiaomi"
            android:value="Channel ID" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56dd4c90e0f55adb48000013" />

        <!-- 友盟自动增量更新 -->

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1105141200" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".common.ui.activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShareActivity" />
        <activity
            android:name=".common.ui.activity.SelectFromAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".common.ui.activity.SelectToAddessActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="picture.ImageCheckActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consumer.ui.activity.GateOrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".consumer.ui.activity.ShunFengOrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".consumer.ui.activity.OrderCommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".common.ui.activity.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".common.ui.activity.RechargeActivity" >
        </activity>
        <activity android:name=".consumer.ui.activity.SelectPayMethodActivity" >
        </activity>

        <service
            android:name=".mqtt.MqttService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
